body {
    background-color: rgb(48, 48, 48);
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #49927a;
    padding: 20px;
    margin-bottom: 20px;
    width: 15%;
    height: auto;
    border: 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

li a {
    text-decoration: none;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    transition: transform 0.3s ease, color 0.3s ease;
    position: relative;
    /* Adicionado para posicionar o dropdown */
}

li a:hover {
    color: #64df0b;
}

.menu-item {
    padding: 10px;
    margin-bottom: 2rem;
    transition: all 0.2s ease;
    border-right: 2px solid white;
    border: none;
    position: relative;
    /* Adicionado para posicionar o dropdown */
}

.menu-item:hover {
    transform: scale(1.03);
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 100%;
    /* Alterado para posicionar ao lado direito */
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    width: 200px;
    /* Largura do dropdown */
}

.menu-item:hover .dropdown {
    display: block;

}